<div class="x_panel">
    <h2>List Category</h2>
    <div class="x_content">
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{category.key}}</td>
                    <td [redColor]="'red'">{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td><img alt="avarta" style="width:100px; height: 100px" src="/resources/images/{{category.avatar}}" /></td>
                    <td><button class="btn btn-primary" type="button" (click)="onEditClicked(category.id)">Edit</button></td>
                    <td><button class="btn btn-primary" type="button" (click)="onSummaryCategoryClicked(category)">Summary</button></td>
                </tr>
            </tbody>
        </table>
        <category-summary  *ngIf="selectedCategory" (onKeyChanged)="onKeyChanged($event)" [key]=selectedCategory.key></category-summary>
        <label *ngIf="selectedCategory"> Key category changed: {{selectedCategory.key}}</label>
    </div>
</div>